# Ignores Mac metadata.
.DS_Store

# Ignore developer resources
_meta/

# Ignore lock files
composer.lock

# Ignore Composer vendor
vendor/

# Ignore PHPUnit artefacts
.phpunit.cache/

# Ignore dev utils cache
.phpunit.result.cache
.php-cs-fixer.cache
